@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Ubuntu&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f0f0f5;
}
